<!DOCTYPE html>
<html>

<head>
  <%- include("../share/head", {title: "Home" }) %>
    <link rel="stylesheet" href="/views/page-1/index.css">
</head>

<body class="home">
  <%- include("../share/nav-bar") %>

    <%= message %>

      <script src="/views/page-1/index.js" type="module"></script>
</body>

</html>